.cache/
.idea/
/*.env
.pythonlibs/
.upm/
.*pycache*/
.images/
.venv/
.replit/
/pyproject.toml.backup
/python3
/replit.nix
/replit_zip_error_log.txt
/poetry.lock
/pyproject.toml
/main.py
*.pyc
*.pyd
*.pyo
.vscode/
.idea/
/Thumbs.db/
/.DS_Store/